
a, button, input, label {
  cursor: pointer
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



/* CSS */

/* Mobile */
@media (max-width: 900px) {
  main {
    grid-template-columns: 1fr;
  }
}

/* CSS variables */
:root {
  --color-bg: ;
  --color-primary: lightgrey;
  --color-light:
  --first-size: 5vw;
  --second-size: 2vw;
}

/* CSS */

body {
  background-color: var(--color-bg);
}

#frame {
  margin: 4vw;
  width: 22%;
}

#main1 {
  width: 500px;
  height: 70px;
  display: flex;
  font-family: helvetica;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 20px;
  margin-left: 20px;
  flex: 50%;
}


#main1 div {
  -ms-flex: 1;
  flex: 50%;
}


#textbox {
  width: 40vw;
}

.text {
  width: 40vw;
  font-family: 'Verdana';
  font-size: 14px;
  line-height: 18px;
  margin: 1em;
}

.text_menu {
  width: 40vw;
  font-family: 'Times';
  background-color: black;
  color: black;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  white-space: nowrap;
}

.title {
  width: 40vw;
  font-family: 'Verdana';
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.zitat {
  font-size: 11px;
  font-family: verdana;
  font-weight: normal;
}

.date {
  font-size: 9px;
  font-family: helvetica;
  font-weight: normal;
  margin-top: 20px;
  margin-left: 15px;
}

.video1 {
  height: 470px;
  width: 290px;
  margin: 1em;
  object-fit: cover;
}

.video2 {
  height: 200px;
  width: 400px;
  margin: 1em;
  object-fit: cover;
}


video::-webkit-media-controls-panel {
  background-image: linear-gradient(transparent, transparent)
}

.img {
  height: 100px;
  width: 130px;
  margin: 1em;
}

.img1 {
  height: 130px;
  width: 100px;
  margin: 1em;
}

.list {
  margin-left: 1em;
}
